/* Custom CSS */
body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(45deg, #003049, #003049); /* Colores de gradiente */
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header .btn {
    font-size: 1rem;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0;
    background: linear-gradient(45deg, #003049, #003049); /* Gradiente verde */
    color: white;
}

.card-body {
    padding: 2rem;
}

.form-control {
    border-radius: 5px;
}

.btn-success {
    background: linear-gradient(45deg, #003049, #003049); /* Gradiente verde */
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn-success:hover {
    background: linear-gradient(45deg, #003049, #003049); /* Gradiente verde en hover */
}

.btn-secondary {
    background: linear-gradient(45deg, #6c757d, #5a6268); /* Gradiente gris */
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn-secondary:hover {
    background: linear-gradient(45deg, #5a6268, #4e555b); /* Gradiente gris en hover */
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #dcdcdc;
}
